@using Microsoft.AspNetCore.Components.Authorization
@{
    ViewData["Title"] = "Übersicht";
    var user = this.User;
}


<div class="text-center">
    <h1 class="display-4">Übersicht</h1>
    <p class="text-lg-left">
        An dieser Stelle wird es eine kleine Übersicht geben, an was ich gerade arbeite.
        <br />
        <br />
        Beispielsweise werde ich als nächstes eine Möglichkeit implementieren, dass Sie mir Nachrichten
        hinterlassen können. Zum Beispiel, wenn Sie ein möglicherweise interessantes Angebot für mich gefunden haben oder Verbesserungsvorschläge bezüglich der webapp haben.
        <br />
        <br />
        Außerdem wird es hier eine kurze Zusammenfassung geben, was sich geändert hat seit Sie zuletzt auf der Seite waren. Zum Beispiel, wenn Funktionen hinzugefügt oder geändert werden. Aber auch, wie viele Stellenanzeigen ich neu hinzugefügt habe.
        <br />
        <br />
        Nebenher wird die gesamte App bereits auf andere Technologien umgestrickt. Zum einen, um mich mit diesen Technologien vertraut zu machen. Zum Anderen, um die App vielseitiger einsetzbar zu machen und womöglich als opensource-Projekt zu veröffentlichen. Derzeit handelt es sich um eine reine webapp. Das bedeutet, sie funktioniert zwar Betriebssystemunabhängig, jedoch nur online und per Browser. Version zwei der App wird so entwickelt, dass sie auch als Handyapp und native Windows-Anwendung leicht umsetzbar sei.
        <br />
        <br />
        <br />
        Sie können sich frei bewegen und alle Funktionen antesten. Wenn Sie die Oberfläche testen möchten, können Sie sogar die Eingabe von Daten simulieren. Allerdings haben Sie derzeit nicht die Rechte tatsächlich Daten in der Datenbank zu hinterlegen. Eine Möglichkeit damit Sie mir Vorschläge hinterlegen können werde ich, wie oben bereits erwähnt, gesondert einrichten.
    </p>
</div>
