@{
  ViewData["Title"] = "Jobsuche";
}


<div class="text-center">
  <h1 class="display-4">Jobsuche</h1>
  <p>Hier werde ich alle gefundenen Offerten hinterlegen. Jeweils eine kurze Bewertung (interessant? Wein nein, wieso
    nicht?) sowie Bewerbungsstatus (Wie?/Ja/Nein/Antwort).</p>
  <ul>
      <li>Bewerbungs Datum</li>
      <li>Firmenname</li>
      <li>Taetigkeit</li>
      <li>Kontaktweg</li>
      <li>Art der Bewerbung</li>
      <li>Status</li>
      <li>Antwort?</li>
      <li>Nachweis</li>
  </ul>
  <p>Anfangs wird es sich um eine einfache Liste handeln, ich werde jedoch eine Druckansicht noch einf&uuml;gen.</p>
</div>
