@page "/User"



<AuthorizeView>
    <Authorized>
        @if (errorMessage is not null)
        {
            <h1>@errorMessage</h1>
        }

        @if (user is not null)
        {

            <GenericList Elements="userList">
                <LoadMessage>I got a bad feeling about this...</LoadMessage>
                <EmptyTemplate>
                    <text>Nothing here</text>
                </EmptyTemplate>
                <WithElementsTemplate>
                    <h1>User Hub</h1>


                    <EditForm Model="user" Context="NewProfile" OnValidSubmit="@SaveUser">
                        <DataAnnotationsValidator />

                        <DynamicForm @bind-Model="user">
                        </DynamicForm>
                        <div class="row">
                            <button class="btn btn-success p-0 m-0 mt-2" type="Submit">Save User</button>
                        </div>
                        <ValidationSummary></ValidationSummary>
                    </EditForm>


                </WithElementsTemplate>
            </GenericList>
        }
    </Authorized>
    <NotAuthorized>
        Please <a href="login">Log In</a> to use this service.
    </NotAuthorized>
</AuthorizeView>



@code {
    
}